body
{
    background-color: rgb(3, 3, 12);
}
:root {
	
	
	--border-width: 0.4em;
	
	--deep-purple: 284;
	
	--c-h: var(--deep-purple);
}

#screen
{
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(rgb(154, 87, 218), rgb(43, 4, 105));
    border: 8px solid rgb(0, 0, 0);
    height: 585px;
    width: 288px;
    border-radius: 50px;
    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
}
#wallpaper 
{
    position: absolute;
    top: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: wallpaper 30s linear infinite alternate;
}

@keyframes wallpaper
{
    0%
    {
        box-shadow: rgba(255,255,255,0.1) 160px 335px,rgba(255,255,255,0.1) 120px 275px 0 12px,rgba(255,255,255,0.1) 60px 355px 0 23px,rgba(255,255,255,0.1) 230px 445px 0 -8px,rgba(255,255,255,0.1) 60px 125px,rgba(255,255,255,0.1) 260px 145px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 350px 555px,rgba(255,255,255,0.1) 350px 273px 0 -2px,rgba(255,255,255,0.1) 150px 355px 0 23px,rgba(255,255,255,0.1) 180px 205px 0 -8px,rgba(255,255,255,0.1) 0px 0px 0 -8px,rgba(255,255,255,0.1) 100px 555px 0 10px;
    }
    100%
    {
        box-shadow: rgba(255,255,255,0.1) 70px 10px,rgba(255,255,255,0.1) 300px 205px 0 12px,rgba(255,255,255,0.1) 0px 155px 0 23px,rgba(255,255,255,0.1) 330px 45px 0 -8px,rgba(255,255,255,0.1) 460px 325px,rgba(255,255,255,0.1) 0px 445px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 50px 155px,rgba(255,255,255,0.1) 150px 273px 0 -2px,rgba(255,255,255,0.1) 0px 555px 0 23px,rgba(255,255,255,0.1) 180px 5px 0 -8px,rgba(255,255,255,0.1) 300px 555px 0 -8px,rgba(255,255,255,0.1) 350px 355px 0 10px;
    }
}
#airtel
{
    left: 7%;
    top: 10px;
    position: absolute;
    font-family: 'Work Sans', sans-serif;
    filter: invert(1);
    font-size: 3px;
}
i4{
    font-size: 5px;
}
#top-icons
{
    position: absolute;
    left:200px;
    top: 12px;
    filter: invert(1);
}

#flash
{
    position: absolute;
    top: 500px;
    left: 25px;
    opacity: 70%;
}

#camera
{
    position: absolute;
    top: 500px;
    left: 225px;
    opacity: 70%;
}

#bar-icon
{
    position: absolute;
    height: 4px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    top: 575px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 4px;
    opacity: 70%;
    transition: transform.2s;
    transition-property: width,height;
}

#bar-icon:active
{
    width: 70px;
}

#clock 
{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    font-size: 4rem;
    font-family: 'Work Sans', sans-serif;
    filter: invert(1);
}
#month
{
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Work Sans', sans-serif;
    font-size: .9rem;
    position: absolute;
    filter: invert(1);
    white-space: nowrap;
}

#message
{
    top: 30%;
    left: 2.5%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.534);
    height: 55px;
    width: 274px;
    border-radius: 15px;
    transition: transform.2s;
    animation: move 3s ;
    animation-delay: 10s;
    display: grid;
    color: rgba(0, 0, 0, 0.596);
    place-content: center;
    font-family: 'Work Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    
}

#message:active
{
    transform: scale(.8);
}


#instagram:active
{
    transform: scale(.8);
}

@keyframes move 
{
    from{
        transform: translateY(-100%);
        opacity: 0%;
    }
    to {
        transform: translateY(0%);
        opacity: 100%;
    }  
}

#instagram
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40.5%;
    left: 2.5%;
    background-color: rgba(255, 255, 255, 0.534);
    height: 55px;
    width: 274px;
    border-radius: 15px;
    transition: transform.2s;
    animation: instagram 3s ;
    animation-delay: 20s;
    display: grid;
    color: rgba(0, 0, 0, 0.596);
    place-content: center;
    font-family: 'Work Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

@keyframes instagram 
{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }    
}
#clear
{
    visibility: hidden;
    position: absolute;
    top: 50.5%;
    left: 231px;
    font-family: 'Work Sans', sans-serif;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.822);
}
@keyframes clear
{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }    
}

p1
{
    margin: 0;
    padding-bottom: 2px;
    text-align: left;
    font-size: 18px;
}
p
{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#dynamic
{
    position: absolute;
    background-color: black;
    height: 26px;
    width: 90px;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    
}

#poster
{
    position: absolute;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
#title
{
    margin: 0%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    filter: invert(1);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;

}
#artist
{
    margin: 0%;
    visibility: hidden;
    opacity: 0%;
    position: absolute;
    filter: invert(1);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

#play
{
    transition: transform.2s;
    left: 50%;
    translate:-50%;
    visibility: hidden;
    position: absolute;
    filter: invert(1);
    opacity: 0;
    transition: 0.3s;
}
#play:active
{
    transform: scale(.8);
}
#previous
{
    visibility: hidden;
    opacity: 0;
    transition: transform.2s;
    left: 25%;
    position: absolute;
    filter: invert(1);
    transition: 0.3s;
}
#previous:active
{
    transform: scale(.8);
}
#next
{
    visibility: hidden;
    opacity: 0;
    transition: transform.2s;
    right: 25%;
    position: absolute;
    filter: invert(1);
    transition: 0.3s;
}
#next:active
{
    transform: scale(.8);
}
#duration
{
    visibility: hidden;
    position: absolute;
    top: 57%;
    left: 50%;
    translate: -50%;
    height: 5px;
    width: 40px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
}
#progress
{
    visibility: hidden;
    height: 5px;
    width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
}
#musiclength
{
    visibility: hidden;
    position: absolute;
    left: 87%;
    top: 54%;
    font-size: 10px;
    filter:invert(1);
    opacity: 50%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
    transition: 0.3s;
}
#musicstart
{
    visibility: hidden;
    position: absolute;
    left: 5%;
    top: 54%;
    font-size: 10px;
    filter:invert(1);
    opacity: 50%;
    font-family: 'Work Sans', sans-serif;
    opacity: 0;
    transition: 0.3s;
}